*.log
/target
/bin
/triangle/.idea
/triangle/build
/triangle/build.gradle
/triangle/gradle
/triangle/.gradle
/triangle/gradlew
/triangle/gradlew.bat
/triangle/settings.gradle
/selenium/target
/selenium/.idea
/clean-code/.idea
/clean-code/target
/selenium/selemium.iml
/selenium/*.sh
